<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>
            <!-- Exclude all migration files -->
            <Exclude>**/DataAccess/Migrations/*.cs</Exclude>
            <Exclude>**/DataAccess/Migrations/*.Designer.cs</Exclude>
            <Exclude>**/*ModelSnapshot.cs</Exclude>
          </ExcludeByFile>
          <ExcludeByAttribute>
            <!-- Exclude code with these attributes -->
            <Exclude>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</Exclude>
            <Exclude>System.CodeDom.Compiler.GeneratedCodeAttribute</Exclude>
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
